*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utility */

.contenitore{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}